.cate {
    width: auto;
    height: auto;
    padding: 0 5.555%;
}
.cateHeader {
    display: flex;
    justify-content: space-between;
}
.cateHead{
    width: 500px;
    height: 110px;
    font-family: "Inter", sans-serif;
    font-size: 2.7em;
    line-height: 1.75em;
    font-weight: 600;
}
.cateParag {
    width: 610px;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    font-weight: 400;
    opacity: 0.6;
    margin-top: 80px;
}
.cateDetails {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    row-gap: 0;
    column-gap: 2.67%;
}