.navBar {
    width: 88.8%;
    height: 30px;
    padding: 40px 5.6%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.navTittle {
    width: 7%;
    height: 30px;
    font-family: "Lobster", sans-serif;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.875em;
    font-weight: 400;
}
.navList{
    display: flex;
    gap: 60px;
    margin-top: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 1em;
    line-height: 1.02em;
    font-weight: 500;
}
.navImg {
    display: flex;
    gap: 40px;
}